.genre_container {
    width: 80%;
    margin-left: 18%;
}

.genre_container_block {
    display: flex;
    flex-wrap: wrap;
}

.genre_item {
    background: linear-gradient(to right top, rgb(243, 239, 21) 0%, rgb(0, 152, 133));
    cursor: pointer;
    text-align: center;
    width: 20%;
    padding: 3% 0;
    margin-right: 5%;
    margin-bottom: 2%;
}

.genre_item:hover {
    background-color: rgb(128, 111, 111);
}

.transfile {
    background: linear-gradient(to right top, #16bffd 0%, #cb3066 100%);
}

.tranquil {
    background: linear-gradient(to right top, #eecda3 0%, #ef629f 100%);
}
.red_ocean {
    background: linear-gradient(to right top, #1d4350 0%, #a43931 100%);
}

.shahabi {
    background: linear-gradient(to right top, #a80077 0%, #66ff00 100%);
}

.alihossein {
    background: linear-gradient(to right top, #f7ff00 0%, #db36a4 100%);
}

.politics {
    background: linear-gradient(to right top, #2196f3 0%, #f44336 100%);
}

.sweet_morning {
    background: linear-gradient(to right top, #ff5f6d 0%, #ffc371 100%);
}

.blue {
    background: linear-gradient(to right top, rgb(3, 97, 121) 0%, rgb(0, 150, 187) 100%); 
}

.loader {
    margin-top:  10%;
}