.logout_and_profile_container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-around;
    margin: 25px; 
}

.logout {
    display: block;
    border: 1px solid transparent;
    font-weight: 700;
    padding: 8px 24px;
    cursor: pointer;
    width: 110px;
}

.profile_container_ava {
    margin-right: 35px;
}

.logout:hover {
    border: 1px solid #fff;
} 

.profile_container_ava > .avatar_user {
    width: 42px;
    display: block;
    margin: 0 auto;
}