.playlist_containers {
    padding: 2% 5% 4% 17%;
    margin-top: 5%;
}

.playlist_containers > .catalog_header_playlist > .info_playlist {
    margin-bottom: 5%;
    display: flex;
}

.playlist_containers > .catalog_header_playlist > .info_playlist > .info_playlist_title  {
    font-size: 35px;
    margin-left: 3%;
}

.playlist_containers > .catalog_header_playlist > .info_playlist > .info_playlist_title > p  {
    font-size: 18px;
}

.playlist_containers > .catalog_header_items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2%;
}

.playlist_containers > .catalog_playlist > .item_playlist {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    justify-content: space-evenly;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    cursor: pointer;
}

.playlist_containers > .catalog_playlist > .item_playlist > .plus_icon {
   font-size: 35px;
}
.playlist_containers > .catalog_playlist > .item_playlist > .index_item_playlist {
    width: 15%;
    flex-wrap: nowrap;
    text-align: center;
}


.playlist_containers > .catalog_playlist > .item_playlist:hover{
    background-color: rgb(128, 111, 111);
}

.add_all {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 15%;
    text-align: center;
    margin-bottom: 5%;
    padding: 1%;
    text-transform: uppercase;
    cursor: pointer;
}

.add_all_icon {
    margin-right: 5%;
}

/* .add_all:hover {
    background-color: rgb(128, 111, 111);
} */