.profile_container { 
    margin: 6% 0 0 15.7%;
    padding: 1% 1% 5% 1%;
}

.profile_container > .header_profile_continer > h3 {
    font-size: 35px;
    width: 20%;
    margin: 0 2%;
    border-right: 5px solid #0269A4;
}

.profile_container > .profile_navbar_container {
    display: flex;
    width: 75%;
    margin: 1% 0 0 0;
    padding: 1% 2%;
    font-size: 25px;
    justify-content: space-around;
}

.profile_container > .profile_navbar_container > div {
    padding: 1%;
    cursor: pointer;
    border-bottom: 5px solid transparent;
}

.active_link_profile {
    border-bottom: 5px solid #0269A4;
}

.profile_item {
    margin-top: 5%;
    padding: 0 5% 5% 0;
}

.profile_item > .item_artist {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    cursor: pointer;
}

.profile_item > .item_artist > .index_item_artist {
    width: 15%;
    flex-wrap: nowrap;
    text-align: center;
}

.profile_item > .item_artist >  .plus_icon {
    font-size: 35px;
}

.profile_item > .item_artist:hover {
    background-color: rgb(128, 111, 111);
}

.profile_item_playlist {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6%;
}

.profile_item_playlist > .item_playlist {
    width: 25%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.profile_item_playlist > .item_playlist:hover {
    background-color: rgb(128, 111, 111);
}

.index_item_artist_delete {
    font-size: 35px;
    border: 1px solid transparent
}

.index_item_artist_delete:hover {
    border: 1px solid #fff;
}

.profile_item_highlights {
    margin-top: 2%;
}

.profile_item_highlights > .preview_container_track {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    cursor: pointer;
}

.profile_item_highlights > .preview_container_track > .preview_container_track_item {
    width: 25%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.profile_item_highlights > .preview_container_track:hover {
    background-color: rgb(128, 111, 111);
}