.conteiner_top_music {
    width: 80%;
    position: relative;
    left: 18%;
}

.container_chart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chart_song {
    width: 15%;
}

.artist_name {
    margin: 0;
}