.singup_socnetw {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 1%;
    
    /* width: 15%; */
    border: 1px solid transparent;
    cursor: pointer;
}

.singup_socnetw > .icon_google {
    width: 50%;
}

.singup_socnetw > h3 {
    font-size: 30px;
    margin: 0 0 0 10px;
}

.singup_socnetw:hover {
    border: 1px solid #fff;
}