.artist_containers {
    padding: 2% 5% 6% 17%;
    margin-top: 5%;
}

.artist_containers > .catalog_header_artist > .info_artist {
    margin-bottom: 5%;
    display: flex;
}

.artist_containers > .catalog_header_artist > .info_artist > .info_artist_title  {
    font-size: 35px;
    margin-left: 3%;
}

.artist_containers > .catalog_header_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2%;
}

.artist_containers > .item_artist {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    font-size: 20px;
    margin-bottom: 2%;
    cursor: pointer;
}

.artist_containers > .item_artist > .index_item_artist {
    width: 25%;
    flex-wrap: nowrap;
    text-align: center;
}

.artist_containers > .item_artist > .plus_icon  {
    font-size: 35px;
}

.artist_containers > .item_artist:hover {
    background-color: rgb(128, 111, 111);
}

.albums_containers {
    display: flex;
    flex-wrap: wrap;
}

.albums_containers > .item_artist_album {
    width: 25%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

.albums_containers > .item_artist_album:hover {
    background-color: rgb(128, 111, 111);
}