input {
    width: 80%;
    padding: 7px;
    margin-right: 5px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    outline: none;
}

button {
    padding: 7px;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    background-color: #fff;
    outline: none;
}

.search-container {
    background-color: black;
    width: 25%; 
}