.player_controls {
    align-items: center;
    display: flex;
    width: 20%;
    justify-content: flex-end;
}

.player_controls > .player_controls_icon {
    margin-right: 10%;
    cursor: pointer;
}