.player_container {
    width: 100%;
    /* background-color: red; */
    background-color: #000;
    position: fixed;
    z-index: 3;
    bottom: 0;
    padding: 1% 0 1% 5%;
    display: flex;
    border-top: 2px solid #fff;
}