.sidebar_container {
    height: 100%;
    width: 17%;
    position: fixed;
    left: 0;
    top: 110px;
    padding: 2% 0;
    border-right: 2px solid #fff;
}

.sidebar_item {
    cursor: pointer;
    margin-bottom: 10%;
}


.sidebar_item > span {
    display: block;
    font-size: 25px;
    font-weight: 700;
}

span:hover {
    background-color: rgb(128, 111, 111);   
}

.active_link::before {
    content: ""; 
    border-left: 5px solid #fff;
    margin-right: 10%;
}